.text > span {
  text-decoration: line-through;
}

.link {
  text-decoration: none;
}
.site-nav .link {
  text-transform: ;
}

.post-text {
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

.post-text:first-letter {
  font-family: 'Tahoma', serif;
  font-size: 32px;
  color: #f44336;
}
